/* Universal selector to add box-sizing, padding, and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Adds background color to the entire body */
body {
    background-color: #d9dcd6;
}

/* Adds font and background to top header of the page where nav links are*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Makes "Horiseon" at the top left of the page bigger than nav links font size and displays it as an inline block */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Adds a slightly darker color to the letters seo in the "Horiseon" heading in the header */
.header h1 .seo {
    color: #d9dcd6;
}

/* Styles the navigational links in the nav and changes the typeface with font-family */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes marker bullet points from the nav links list */
.header nav ul {
    list-style-type: none;
} 

/* Plcaces nav links horizontaly inline  */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Makes links font color white */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Selects font size for all paragraphs */
p {
    font-size: 16px;
}

/* Adds a background image to the section with the hero class */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Offsets the position of the images from left to right in the 3 articles */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Positions the section with the class content by making it inline block and setting its width and margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Positions the aside next to the section with the content class and changes its font and adds a background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Changes the font color to white in the aside  */
.benefit-style {
    margin-bottom: 32px;
    color: #ffffff;
} 

/* Centers the headings in the aside */
.benefit-style h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Positions the images in the aside and sets a max width to make sure they fit in its container */
.benefit-style img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* positions the articles in the .content section */
.content-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets a max height to the images in the articles */
.content-style img {
    max-height: 200px;
}

/* Styles the footer and changes the font typeface and centers it */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Makes the footer heading bigger than the paragraph */
.footer h4 {
    font-size: 20px;
}
